{% extends "framework.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Export Data</li>
</ol>
{% endblock %}
{% block body %}
<form action="/download" method="get" role="form" class="form-horizontal">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Select output area</h3>
        </div>
        <div class="panel-body">
            <div class="radio">
                <label>
                    <input type="radio" name="country_all" value="1" checked="checked"> All area
                </label>
            </div>
            <div class="radio">
                <label>
                <input type="radio" name="country_all" value="0">
                <select name="country" multiple="multiple" size="4">
                    {% for country in country_list %}
                    <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
                </label>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Select cross-check status</h3>
        </div>
        <div class="panel-body">
            <div class="radio">
                <label>
                    <input type="radio" name="output_all" value="1" checked="checked">All result
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="output_all" value="0">
                    <select name="output_type" multiple="multiple" size="4">
                        <option value="1">Correct</option>
                        <option value="0">Incorrect</option>
                        <option value="-1">Country unknown</option>
                        <option value="-2">Other error</option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Select output format</h3>
        </div>
        <div class="panel-body">
    <select name="format">
        <option value="csv" selected="selected">CSV</option>
        <option value="shp">Shapefile</option>
    </select>
    </div>
    </div>
    <button type="submit">Submit</button>
</form>
<script>
    $(document).ready(function () {
        //
    });
</script>
{% endblock %}