{% extends "framework.html" %}
{% block body %}
<form class="form-horizontal" role="form" action="/change-password" method="post">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Original Password</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Original Password" name="old_password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">New Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="New Password" name="new_password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
